@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IMeetingsService meetingService
<ConfirmDialog @ref="dialog" />
<Card>
    <CardBody>
        <p><b>Title: </b>@meetingSummary.Title</p>
        <p><b>Date: </b>@meetingSummary.Date</p>
        @switch (meetingSummary.Status)
        {
            case "scheduled":
                <Alert Color="AlertColor.Success">@Utility.Capitalise(meetingSummary.Status)</Alert>
                break;
            case "rescheduled":
                <Alert Color="AlertColor.Warning">@Utility.Capitalise(meetingSummary.Status)</Alert>
                break;
            case "cancelled":
                <Alert Color="AlertColor.Danger">@Utility.Capitalise(meetingSummary.Status)</Alert>
                break;
        }
        @if (meetingSummary.Creator)
        {
            <Button Color="ButtonColor.Warning" @onclick="((args) => OnClickUpdate(args,meetingSummary.MeetingID))" Class="mx-1 my-1"><Icon Name="IconName.Pencil" /> Modify</Button>
            <Button Color="ButtonColor.Danger" @onclick="((args) => OnCLickDelete(args,meetingSummary.MeetingID))" Class="mx-1 my-1"><Icon Name="IconName.Trash" /> Delete</Button>
        }
        <Button Color="ButtonColor.Primary" @onclick="((args) => OnClickShowDetails(args,meetingSummary.MeetingID))" Class="mx-1 my-1"><Icon Name="IconName.Receipt" /> See details</Button>
    </CardBody>
</Card>

@code {
    private ConfirmDialog dialog = default!;
    [Parameter]
    public MeetingSummaryResponse meetingSummary { get; set; }
    [Parameter]
    public EventCallback<int> OnMeetingDeleted { get; set; }
    [Inject]
    protected ToastService toastService { get; set; }
    string[] roles;

    protected override async Task OnInitializedAsync()
    {
        var response = await loginService.GetRoles();
        roles = response.Split(",");
        if (roles.Contains("admin"))
        {
            meetingSummary.Creator = true;
        }
    }

    protected void OnClickShowDetails(EventArgs args, int id)
    {
        navigationManager.NavigateTo($"/meeting/{id}");
    }

    protected void OnClickUpdate(EventArgs args, int id)
    {
        navigationManager.NavigateTo($"/meetingForm/{id}");
    }

    protected async void OnCLickDelete(EventArgs args, int id)
    {
        var options = new ConfirmDialogOptions
            {
                YesButtonText = "OK",
                YesButtonColor = ButtonColor.Success,
                NoButtonText = "CANCEL",
                NoButtonColor = ButtonColor.Danger
            };

        var confirmation = await dialog.ShowAsync(
            title: "Are you sure you want to delete this meeting?",
            message1: "Do you want to proceed?",
        confirmDialogOptions: options);

        if (confirmation)
        {
            bool success = await meetingService.DeleteMeetingByID(id);
            if (success)
            {
                toastService.Notify(new(ToastType.Success, "Successfully deleted meeting"));
                await OnMeetingDeleted.InvokeAsync(meetingSummary.MeetingID);
            }
            else
            {
                toastService.Notify(new(ToastType.Danger, "Unsuccessfully deleted meeting"));
            }
        }

    }
}
