<Card>
    <CardTitle>
        <p>Meeting</p>
    </CardTitle>
    <CardBody>
        <p><b>Title:</b> @meeting.Title</p>
        <p><b>Date:</b> @meeting.Date</p>
        <h2>Creator</h2>
        <UserComponent user="@meeting.Creator" typeOfUser="Creator" />
        @if (meeting.Members != null)
        {
            <h2>Members</h2>
            foreach (User user in meeting.Members)
            {
                <UserComponent user="user" typeOfUser="Member Of Meeting" />
            }
        }
        @if (meeting.Messages != null)
        {
            <h2>Messages</h2>
            foreach (MeetingMessage message in meeting.Messages)
            {
                <Card>
                    <CardBody>
                        <p><b>Message:</b> @message.Message</p>
                        <UserComponent user="message.Sender" typeOfUser="Message Sender" />
                    </CardBody>
                </Card>
                
            }
        }
        @if (meeting.Attachments != null)
        {
            <h2>Attachments</h2>
            foreach (MeetingAttachment attachment in meeting.Attachments)
            {
                <Card>
                    <CardBody>
                        <p><b>File name:</b> @attachment.Name</p>
                        <p><b>File type:</b> @attachment.Type</p>
                        <UserComponent user="attachment.Sender" typeOfUser="Attachment Sender" />
                    </CardBody>
                </Card>
                
            }
        }
    </CardBody>
</Card>
@code {
    [Parameter]
    public Meeting meeting { get; set; }
}
