@page "/manage"
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject IProfileService profileService
@inject ITeamsService teamsService
<PageTitle>Manage</PageTitle>
<h3>Manage</h3>

@if (!isLogged)
{
    <p>Loading...</p>
}
else
{
    if (profileResponse == null)
    {
        <p>Loading profile...</p>
    }
    else
    {
        <p>@profileResponse.FirstName</p>
        <p>@profileResponse.LastName</p>
        <p>@profileResponse.Email</p>
    }
    if (allTeams != null)
    {
        foreach (Team team in allTeams)
        {
            <div>
                <h5>@team.Name</h5>
                <h6>Leader</h6>
                <ul>
                    <li>@team.Leader.FirstName</li>
                    <li>@team.Leader.LastName</li>
                    <li>@team.Leader.Email</li>
                </ul>
                <h6>Department</h6>
                <ul>
                    <li>@team.Department.Name</li>
                    <li>
                        Director:
                        <ul>
                            <li>
                                @team.Department.Director.FirstName
                            </li>
                            <li>
                                @team.Department.Director.LastName
                            </li>
                            <li>
                                @team.Department.Director.Email
                            </li>
                        </ul>
                    </li>
                </ul>
                <h6>Members</h6>
                @if (team.Members != null)
                {
                    <ul>
                        @foreach (User member in team.Members)
                        {
                            <li>
                                Member info:
                                <ul>
                                    <li>@member.FirstName</li>
                                    <li>@member.LastName</li>
                                    <li>@member.Email</li>
                                </ul>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>This team has no members</p>
                }
            </div>
        }

    }
    else
    {
        <p>No teams in database</p>
    }

}

@code {
    bool isLogged = false;

    ProfileResponse? profileResponse;
    string[]? roles;
    List<Team>? allTeams;
    // TODO profile change
    // TODO switch in roles
    // 1. Admin: my profile, departments, members of departments, teams, members of teams, users with no team or department
    // 2. director: my profile, department,members of department ,teams, members of teams
    // 3. leader: my profile, team, members of team
    // 4. user: my profile
    protected override async Task OnInitializedAsync()
    {
        isLogged = await loginService.IsLogged();

        if(!isLogged)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            var response = await loginService.GetRoles();
            roles = response.Split(",");

            // all users got their profile informations
            profileResponse = await profileService.GetProfile();

            if (roles.Contains("admin"))
            {
                // all departments, all teams and all users which aren't is any of team or department
                allTeams = await teamsService.GetAllTeams();

            }
            if (roles.Contains("director"))
            {
                // info about department and teams in department
            }
            if (roles.Contains("leader"))
            {
                // info about team and users in team
            }
        }
    }
}
