@page "/meetingForm"
@page "/meetingForm/{meetingID:int}"
@inject ILoginService loginService
@inject IMeetingsService meetingService
@inject IUsersService usersService
@inject NavigationManager navigationManager
@attribute [StreamRendering(true)]

@if(!isLogged)
{
	<p>Loading ...</p>
}
else
{
	@if (meetingID.HasValue)
	{
		<PageTitle>Update Meeting</PageTitle>
	}
	else
	{
		<PageTitle>Create New Meeting</PageTitle>

	}
	<div class="container-fluid">
		<div class="row">
			@if (meetingID.HasValue)
			{
				<h3>Update Meeting</h3>
			}
			else
			{
				<h3>Create New Meeting</h3>

			}
		</div>
		<div class="row">
			@if((!meetingID.HasValue && repetitions != null && types != null) || (meetingID.HasValue && repetitions != null && types != null && statuses != null))
			{
				<EditForm Model="request" FormName="CreateMeeting" OnValidSubmit="OnValidSubmit">
					<DataAnnotationsValidator />
					<ValidationSummary />
					<div class="row">
						<div class="col-3">
							<div class="form-group my-2">
								<InputText id="name" @bind-Value="request.Title" placeholder="Title" type="text" class="form-control"></InputText>

							</div>
							<div class="form-group my-2">
								<DateInput TValue="DateOnly" @bind-Value="request.Date" Placeholder="Date" Min="@minDate" Max="@maxDate" EnableMinMax="true" />
							</div>
							<div class="form-group my-2">
								<InputTextArea @bind-Value="request.Description"></InputTextArea>
							</div>
							<div class="form-group my-2">
							<InputSelect @bind-Value="request.RepetitionOfMeeting" class="form-control">
								@foreach (TypeStatusRepetitionOfMeetingResponse r in repetitions)
								{
									<option value="@r.ID">@r.Name</option>
								}
							</InputSelect>
							</div>
							<div class="form-group my-2">
								<InputSelect @bind-Value="request.TypeOfMeeting" class="form-control">
									@foreach (TypeStatusRepetitionOfMeetingResponse t in types)
									{
										<option value="@t.ID">@t.Name</option>
									}
								</InputSelect>
							</div>
							@if (meetingID.HasValue)
							{
								<div class="form-group my-2">
									<InputSelect @bind-Value="request.StatusOfMeeting" class="form-control">
										@foreach (TypeStatusRepetitionOfMeetingResponse s in statuses)
										{
											<option value="@s.ID">@s.Name</option>
										}
									</InputSelect>
								</div>
							}
						</div>
						<div class="form-group my-2 col-9">
							<div class="row">
								@foreach (UserForm u in userForms)
								{
									<Card class="col-2">
										<CardBody>
											<label>
												@u.Name <InputCheckbox @bind-Value="u.IsSelected" @onclick="((args)=>CheckBoxChanged(args,u.IsSelected,u.ID))" />
											</label>
										</CardBody>
									</Card>
								}
							</div>
						</div>
					</div>
					<button class="btn btn-primary">SUBMIT</button>
				</EditForm>
			}
			else
			{
				<p>Loading form ...</p>
			}

		</div>
	</div>
}

@code {
	[Parameter]
	public int? meetingID { get; set; }
	CreateMeetingRequest request = new();
	private DateOnly minDate;
	private DateOnly maxDate;
	private List<TypeStatusRepetitionOfMeetingResponse> types;
	private List<TypeStatusRepetitionOfMeetingResponse> repetitions;
	private List<TypeStatusRepetitionOfMeetingResponse> statuses;
	private bool isLogged = false;
	private List<User> users;
	private List<UserForm> userForms = [];
	[Inject]
	public ToastService toastService { get; set; }
	private Meeting meeting;
	private List<UserFormChange> changesList;

	protected override async Task OnInitializedAsync()
	{
		isLogged = await loginService.IsLogged();
		if(!isLogged)
		{
			navigationManager.NavigateTo("/login");
		}
		else
		{
			minDate = DateOnly.FromDateTime(DateTime.Now.AddYears(-1));
			maxDate = DateOnly.FromDateTime(DateTime.Now.AddYears(1));
			types = await meetingService.GetTypesOfMeeting();
			repetitions = await meetingService.GetRepetitionOfMeeting();
			users = await usersService.GetAllUsers();
			userForms = users.Select(user => new UserForm(user)).ToList();
			changesList = [];
			if(meetingID.HasValue)
			{
				statuses = await meetingService.GetStatusesOfMeeting();
				meeting = await meetingService.GetMeetingByID(meetingID.Value);
				request.ID = meetingID.Value;
				request.Title = meeting.Title;
				request.Date = meeting.Date;

				request.Description = meeting.Description.Equals("Empty description") ? null : meeting.Description;
				foreach (var rep in repetitions)
				{
					if(rep.Name.Equals(meeting.RepetitionOfMeeting))
					{
						request.RepetitionOfMeeting = rep.ID;
					}
				}
				foreach(var type in types)
				{
					if(type.Name.Equals(meeting.TypeOfMeeting))
					{
						request.TypeOfMeeting = type.ID;
					}
				}
				foreach(var status in statuses)
				{
					if(status.Name.Equals(meeting.StatusOfMeeting))
					{
						request.StatusOfMeeting = status.ID;
					}
				}
				foreach(UserForm userForm in userForms)
				{
					foreach(User user in meeting.Members)
					{
						if(userForm.ID == user.ID)
						{
							userForm.IsSelected = true;
						}
					}
				}
			}
		}

	}

	protected void CheckBoxChanged(MouseEventArgs args, bool IsSelected, int ID)
	{
		var user = changesList.AsQueryable().FirstOrDefault(u => u.ID == ID);
		if(user == null)
		{
			changesList.Add(new()
				{
					ID = ID,
					IsSelected = !IsSelected
				});
		}
		else
		{
			user.IsSelected = !IsSelected;
		}
	}

	private async Task OnValidSubmit()
	{
		request.MembersID = [];

		if(meetingID.HasValue)
		{
			foreach (var u in changesList)
			{
				var mem = meeting.Members.AsQueryable().Where(m => m.ID == u.ID).ToList();
				if (mem.Count > 0 && !u.IsSelected)
				{
					request.MembersID.Add(u);
				}
				else if (mem.Count == 0 && u.IsSelected)
				{
					request.MembersID.Add(u);
				}
			}
			var response = await meetingService.UpdateMeeting(request);

			if(response)
			{
				toastService.Notify(new(ToastType.Success, "Successfully updated meeting"));
				navigationManager.NavigateTo("/");
			}
			else
			{
				toastService.Notify(new(ToastType.Danger, "There was error with updating of meeting try again later"));
			}
		}
		else
		{
			foreach (var u in changesList)
			{
				if (u.IsSelected)
					request.MembersID.Add(u);
			}

			var response = await meetingService.CreateMeeting(request);

			if (response)
			{
				toastService.Notify(new(ToastType.Success, "Successfully added new meeting"));
				navigationManager.NavigateTo("/");
			}
			else
			{
				toastService.Notify(new(ToastType.Danger, "There was error with creating of meeting try again later"));
				request.Title = "";
				request.Date = default;
				request.RepetitionOfMeeting = 0;
				request.TypeOfMeeting = 0;
				request.MembersID = [];
				userForms.ForEach(u => u.IsSelected = false);
			}
		}

		
	}
}
